<%- include('../partials/header'); %>
</head>
&nbsp;
    <div class='container'>
        <h1 class='text-center'>Events</h1> 
        <div class='row text-center' style='background-color: lightblue;'>
            <div class='col'>
                Name
            </div>
            <div class='col'>
                Start
            </div>
            <div class='col'>
                End
            </div>
        </div>
        <div>
            <form action="/events/create" method="post">
                <div class='row' style='margin: 10px;'>
                    <div class='col-4'>
                        <input type="text" class="form-control" name="newEventName" id="newEventName">
                    </div>
                    <div class='col'>
                        <input type="date" class="form-control" name="newEventStart" id="newEventStart">
                    </div>
                    <div class='col'>
                        <input type="time" class="form-control" name="newEventStartTime" id="newEventStartTime">
                    </div>
                    <div class='col'>
                        <input type="date" class="form-control" name="newEventEnd" id="newEventEnd">
                    </div>
                    <div class='col'>
                        <input type="time" class="form-control" name="newEventEndTime" id="newEventEndTime">
                    </div>
                </div>
                <div class='row d-flex justify-content-center' style='margin: 10px;'>
                    <div class='col'></div>
                    <div class='col'>
                        <input type="submit" class="form-control" value='Create New'>
                    </div>
                    <div class='col'></div>
                </div>    
            </form>
        </div>
        
        &nbsp;
        &nbsp;
        <h2 class='text-center'>Upcoming</h2>
        <% for(var i = 0; i < events.length; i++) { %>
            <div class='row text-center' style='margin: 10px;'>
                <div class='col-4'>
                    <%= events[i].name %>
                </div>
                <div class='col'>
                    <%= events[i].start%>
                </div>
                <div class='col'>
                    <%= events[i].startTime%>
                </div>
                <div class='col'>
                    <%= events[i].end%>
                </div>
                <div class='col'>
                    <%= events[i].endTime%>
                </div>
            </div>
        <% } %>
    </div>
<body>
    <%- include('../partials/footer'); %>
