<%- include('../partials/header'); %>
</head>
<body>
    <div style='width: 50%; margin: 0 25%;'>
        <h1 class='text-center'>Preferences</h1>
        <form action='/prefs' method='GET'>
            <div class='row'>
                <div class='col'>Daily variety</div>
                <div class='col'>
                    <div class='row'>
                        <div class='col range-left'>static</div>
                        <div class='col'><input type='range' class='form-range' name='dailyVar' id='dailyVar' value='1'></div>
                        <div class='col range-right'>dynamic</div>
                    </div>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div class='row'>
                <div class='col'>Session variety</div>
                <div class='col'>
                    <div class='row'>
                        <div class='col range-left'>similar</div>
                        <div class='col'><input type='range' class='form-range' name='sessionVar' id='sessionVar' value='1'></div>
                        <div class='col range-right'>disparate</div>
                    </div>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div class='row'>
                <div class='col'>Session length (hours)</div>
                <div class='col-5' style='text-align: right;'><input type='number' class='form-control' name='sessionLength' id='sessionLength' value='1'></div>
            </div>
            &nbsp;
            &nbsp;
            
            <div class='rounded' style='background-color: gainsboro; padding: 10px;'>
                <b>Working times:</b>
                <% for(var i = 0; i < numRanges; i++) { %>
                    <div>
                        <div class='row'>
                            <div class='col'>Range <%= i+ 1 %></div>
                            <div class='col-3'><input type='time' class='form-control' name='start<%= i %>' id='start<%= i %>'></div>
                            <div class='range-mid'>to</div>
                            <div class='col-3'><input type='time' class='form-control' name='end<%= i %>' id='end<%= i %>'></div>
                        </div>
                    </div>
                <% } %>
            </div>
        </form>
        <div>
            <div style='text-align: right;'>
                <form action="/prefs/<%= parseInt(numRanges) + 1 %>" method='get'>
                    <input type="submit" class='btn' value='+'>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
