<%- include('../partials/header'); %>
</head>
<body>
    <div class='container'>
        <h1 class='text-center'>Preferences</h1>
        <form action='/prefs/save' method='POST'>
            <div class='row'>
                <div class='col'>Daily variety</div>
                <div class='col'>
                    <div class='row'>
                        <div class='col range-left'>static</div>
                        <div class='col'><input type='range' class='form-range' name='dailyVariety'  value=<%= userPrefs.dailyVariety %>></div>
                        <div class='col range-right'>dynamic</div>
                    </div>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div class='row'>
                <div class='col'>Session variety</div>
                <div class='col'>
                    <div class='row'>
                        <div class='col range-left'>similar</div>
                        <div class='col'><input type='range' class='form-range' name='sessionVariety' value=<%= userPrefs.sessionVariety %>></div>
                        <div class='col range-right'>disparate</div>
                    </div>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div class='row'>
                <div class='col'>Session length (hours)</div>
                <div class='col-5' style='text-align: right;'><input type='number' class='form-control' name='sessionLength' value=<%= parseInt(userPrefs.sessionLength) %>></div>
            </div>
            &nbsp;
            &nbsp;
            <div class='rounded' id='rangesList' name='rangesList' style='padding: 10px;'>
                <div class='row'>
                    <div class='col'>Working times</div>
                    <div class='col-5'></div>
                </div>
            </div>
            <div class='row'>
                <div class='col'></div>
                <div class='col-1'>
                    <button type='button' class='form-control' style='width: 40px; padding: auto' id='addRangeBtn'>+</button>     
                </div>
            </div>
            &nbsp;
            &nbsp;
            <input type="submit" class='form-control' style='width: 100%' value='Save'>
        </form>
    </div>
    <script>
        let dbRanges = JSON.parse('<%- userRanges %>');
        let numDBRanges = dbRanges.length;
        let totalRanges = numDBRanges;

        function buildRange(i, list, j) {
            let newStart = document.createElement('input');
                newStart.setAttribute('type','time');
                newStart.setAttribute('class','form-control col');
                newStart.setAttribute('name','start'+i.toString());
                newStart.setAttribute('value',list[j].startTime);
                
                let newEnd = document.createElement('input');
                newEnd.setAttribute('type','time');
                newEnd.setAttribute('class','form-control col');
                newEnd.setAttribute('name','end'+i.toString());
                newEnd.setAttribute('value',list[j].endTime);

                let newMid = document.createElement('div');
                newMid.setAttribute('class','range-mid');
                newMid.innerHTML = 'to';

                let newRow = document.createElement('div');
                newRow.setAttribute('class','row');
                newRow.appendChild(newStart);
                newRow.appendChild(newMid);
                newRow.appendChild(newEnd);
                
                document.getElementById('rangesList').appendChild(newRow);
        }

        // build initial ranges (saved in database)
        for(let i = 0; i < numDBRanges; i++) {
            buildRange(i, dbRanges, i);
        }

        document.getElementById('addRangeBtn').addEventListener('click', function() {   
            buildRange(totalRanges, [{startTime: '09:00', endTime: '17:00'}], 0);
            totalRanges++;
        });
    </script>
    <%- include('../partials/footer'); %>
