<%- include('../partials/header'); %>
</head>
<body>
    <div class='container'>
        <h1 class='text-center'>Preferences</h1>
        <form action='/prefs' method='GET'>
            <div class='row'>
                <div class='col'>Daily variety</div>
                <div class='col'>
                    <div class='row'>
                        <div class='col range-left'>static</div>
                        <div class='col'><input type='range' class='form-range' name='dailyVar' id='dailyVar' value=<%= dailyVar %>></div>
                        <div class='col range-right'>dynamic</div>
                    </div>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div class='row'>
                <div class='col'>Session variety</div>
                <div class='col'>
                    <div class='row'>
                        <div class='col range-left'>similar</div>
                        <div class='col'><input type='range' class='form-range' name='sessionVar' id='sessionVar' value=<%= sessionVar %>></div>
                        <div class='col range-right'>disparate</div>
                    </div>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div class='row'>
                <div class='col'>Session length (hours)</div>
                <div class='col-5' style='text-align: right;'><input type='number' class='form-control' name='sessionLength' id='sessionLength' value=<%= sessionLen %>></div>
            </div>
            &nbsp;
            &nbsp;
            
            <div class='rounded' id='rangesList' name='rangesList' style='padding: 10px;'>
                <div class='row'>
                    <div class='col'>Working times</div>
                    <div class='col-5'></div>
                </div>
                <% for(var i = 0; i < numRanges; i++) { %>
                    <div class='row'>
                        <input type='time' class='form-control col' value=<%= ranges[i].start %>>
                        <div class='range-mid'>to</div>
                        <input type='time' class='form-control col' value=<%= ranges[i].end %>>
                    </div>
                <% } %> 
            </div>
            <div class='row'>
                <div class='col'></div>
                <div class='col-1'>
                    <button type='button' class='form-control' style='width: 40px; padding: auto' id='addRangeBtn'>+</button>     
                </div>
            </div>
            &nbsp;
            &nbsp;
            <input type="submit" class='form-control' style='width: 100%' value='Save'>
        </form>
    </div>
    <script>
        console.log('adding event listener for range add');
        document.getElementById('addRangeBtn').addEventListener('click', function() {   
            
            let newStart = document.createElement('input');
            newStart.setAttribute('type','time');
            newStart.setAttribute('class','form-control col');
            
            let newEnd = document.createElement('input');
            newEnd.setAttribute('type','time');
            newEnd.setAttribute('class','form-control col');

            let newMid = document.createElement('div');
            newMid.setAttribute('class','range-mid');
            newMid.innerHTML = 'to';

            let newRow = document.createElement('div');
            newRow.setAttribute('class','row');
            newRow.appendChild(newStart);
            newRow.appendChild(newMid);
            newRow.appendChild(newEnd);
            
            document.getElementById('rangesList').appendChild(newRow);
        });
    </script>
    <%- include('../partials/footer'); %>
